<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.vouch.vouchsdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="sg.vouch.vouchsdk.ui.VouchChatActivity"
            android:screenOrientation="user"
            android:theme="@style/VouchAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="sg.vouch.vouchsdk.ui.VouchChatVideoPlayerActivity"
            android:screenOrientation="user"
            android:theme="@style/VouchDetailAppTheme" />
        <activity
            android:name="sg.vouch.vouchsdk.ui.VouchPreviewVideoActivity"
            android:screenOrientation="user"
            android:theme="@style/VouchDetailAppTheme" />
    </application>

</manifest>